{% extends 'base_internal.html' %}



{% block content %}
 <div class="container my-4 mt-5">
    <h1>Welcome to the Time Tracking App!</h1>
    <div class="row mt-4">
        <div class="col-md-3">
            <h3>Members</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'timetracker:member-list' %}">View Members</a></li>
                <li class="list-group-item"><a href="{% url 'timetracker:member-create' %}">Add New Member</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Projects</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'timetracker:project-list' %}">View Projects</a></li>
                {% comment %} <li class="list-group-item"><a href="{% url 'timetracker:project-create' %}">Add New Project</a></li> {% endcomment %}
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Tasks</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'timetracker:task-list' %}">View Tasks</a></li>
                <li class="list-group-item"><a href="{% url 'timetracker:task-create' %}">Add New Task</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Subtasks</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'timetracker:subtask-list' %}">View Subtasks</a></li>
                {% comment %} <li class="list-group-item"><a href="{% url 'timetracker:subtask-create' %}">Add New Subtask</a></li> {% endcomment %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

