{% extends 'base_internal.html' %}
{% block styles %}
<style>
    /* Add custom CSS for the fade-out animation */
    .fade-out {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
    .fade-out.hidden {
        opacity: 0;
    }

    /* Custom styles for the alert */
    .custom-alert {
        font-weight: bold;
        text-align: center;
    }
</style>
{% endblock styles %}

{% block content %}
<!--
<div class="alert alert-primary d-flex align-items-center fade-out custom-alert" role="alert" id="noMembersSelected">
    <div class="bd-callout bd-callout-info mx-auto">
        <i class='bx bx-error-circle pe-2'></i>
        <strong>Please Note:</strong> 
        <span style="font-weight: normal;">No members were selected.</span>
    </div>
</div>
-->
    <div id="liveAlertPlaceholder"></div>
    <div class="container my-4 mt-5">
        <div class="row mb-2">
        <div class="col">
            <button class="btn btn-dark" id="backBtn" onclick="goBack()"><i class='bx bx-arrow-back'></i></button>
            <button class="btn btn-success" id="createBtn" data-bs-toggle="modal" data-bs-target="#addMemberModal"><i class='bx bx-user-plus' ></i></button>
            <button class="btn btn-warning" id="editBtn"><i class='bx bx-edit-alt' ></i></button>
            <button class="btn btn-danger" id="deleteBtn"><i class='bx bx-trash' ></i></button>
        </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Branch</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                            <tr>
                                <td><a href="{% url 'timetracker:member-detail' member.pk %}">{{ member.name }} </a></td>
                                <td>{{ member.department }}</td>
                                <td>{{ member.branch }}</td>
                                <td>{{ member.email }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Add Member Modal -->
    <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMemberModalLabel">Add New Member</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Your Django form for adding a new member -->
                    <form method="post" action="{% url 'timetracker:member-create' %}" id="addMemberForm">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary" id="addMemberButton">Save Member</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Selected checkboxes -->
    <div class="modal" id="selectedCountModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Selected Checkboxes Count</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="selectedCountText">No checkboxes selected.</p>
                    <p id="editSelectedCountText">No checkboxes selected for editing.</p>
                    <p id="deleteSelectedCountText">No checkboxes selected for deleting.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}  
    {% block scripts %}  
<script>
// Go back to the previous page
function goBack() {
    window.history.back();
}

// Handle checkbox change using event delegation
$(document).on("change", "tbody input[type='checkbox']", function() {
    if (window.isEditing) {
        handleEditCheckboxChange(this);
    } else if (window.isDeleting) {
        handleDeleteCheckboxChange(this);
    } else {
        console.log("No columns checkboxes were selected");
    }
});

// Handle checkbox change
function handleEditCheckboxChange(checkbox) {
    if (checkbox.checked) {
        console.log(`Checkbox for ${checkbox.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.textContent} has been selected.`);
    } else {
        console.log(`Checkbox for ${checkbox.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.textContent} has been unselected.`);
    }

    var checkedCount = $("tbody input[type='checkbox']:checked").length;
    if (window.isEditing) {
        window.editSelectedCount = checkedCount;
        console.log(window.editSelectedCount + " edit checkboxes selected.");
    }
    updateEditSelectedCount();
}

function handleDeleteCheckboxChange(checkbox) {
    if (checkbox.checked) {
        console.log(`Delete checkbox for ${checkbox.parentElement.nextElementSibling.textContent} has been selected.`);
    } else {
        console.log(`Delete checkbox for ${checkbox.parentElement.nextElementSibling.textContent} has been unselected.`);
    }

    var checkedCount = $("tbody input[type='checkbox']:checked").length;
    if (window.isDeleting) {
        window.deleteSelectedCount = checkedCount;
        console.log(window.deleteSelectedCount + " delete checkboxes selected.");
    }
    updateDeleteSelectedCount(); 
}



// Update selected count
function updateEditSelectedCount() {
    window.editSelectedCount = $("tbody input[type='checkbox']:checked").length;
}

function updateDeleteSelectedCount() {
    window.deleteSelectedCount = $("tbody .deleteCheckbox:checked").length;
}


// Function to fade out the noMembersSelected alert
function fadeOutAlert() {
    var alertElement = document.getElementById('noMembersSelected');
    if (alertElement) {
        alertElement.classList.add('hidden');
    }
}

document.addEventListener("DOMContentLoaded", function () {
// $(document).ready(function() {
    var editColumnAdded = false;
    window.editSelectedCount = 0;
    window.isEditing = false;

    var deleteColumnAdded = false;
    window.deleteSelectedCount = 0;
    window.isDeleting = false;

    // Initialize count when the page is loaded
    updateEditSelectedCount();
    updateDeleteSelectedCount();

    // Click event handler for #editBtn
    $("#editBtn").click(function() {
        if (!editColumnAdded) {
            console.log("Edit column opened.");

            // Add a new column to the right
            $("thead tr").append("<th>Update</th>");
            $("tbody tr").each(function() {
                $(this).append("<td><input type='checkbox'></td>");
            });

            editColumnAdded = true;
            window.isEditing = true;
        } else {
            // Remove the column
            console.log("Edit column closed.");
            $("thead th:last-child").remove();
            $("tbody td:last-child").remove();
            editColumnAdded = false;
            window.isEditing = false;

            // Show the messages based on selected checkboxes count
            if (window.editSelectedCount === 0) {

                const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                const appendAlert = (message, type) => {
                const wrapper = document.createElement('div')
                wrapper.innerHTML = [
                    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                    `   <div>${message}</div>`,
                    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                    '</div>'
                ].join('')

                alertPlaceholder.append(wrapper)
                }

                const alertTrigger = document.getElementById('liveAlertBtn')
                if (alertTrigger) {
                alertTrigger.addEventListener('click', () => {
                    appendAlert('Nice, you triggered this alert message!', 'success')
                })
                }

                console.log("No members were selected for editing.");
            
            } else if (window.editSelectedCount === 1) {
                console.log("Member were selected for editing.");
                console.log(window.editSelectedCount + " in Total");

                $("#modalTitle").text("Updates");
                $("#selectedCountText").text(window.editSelectedCount + " member selected");
                $("#editSelectedCountText").text(window.editSelectedCount + " member selected for editing.");
                $("#selectedCountModal").modal("show");

            } else {
                console.log("Members were selected for editing.");
                console.log(window.editSelectedCount + " in Total");

                $("#modalTitle").text("Updates");
                $("#selectedCountText").text(window.editSelectedCount + " members selected");
                $("#editSelectedCountText").text(window.editSelectedCount + " members selected for editing.");
                $("#selectedCountModal").modal("show");
            }

            window.editSelectedCount = 0;
            updateEditSelectedCount();
        }


        
    });


    // Click event handler for #deleteBtn
    $("#deleteBtn").click(function() {
        if (!deleteColumnAdded) {
            console.log("Delete column opened.");

            // Add a new column to the left
            $("thead tr").prepend("<th>Delete</th>");
            $("tbody tr").each(function() {
                $(this).prepend("<td><input type='checkbox'></td>");
            });

            deleteColumnAdded = true;
            window.isDeleting = true;
        } else {
            // Remove the column
            console.log("Delete column closed.");
            $("thead th:first-child").remove();
            $("tbody td:first-child").remove();
            deleteColumnAdded = false;
            window.isDeleting = false;

            updateDeleteSelectedCount();
            // Show the messages based on selected checkboxes count
            if (window.deleteSelectedCount === 0) {

                const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                const appendAlert = (message, type) => {
                const wrapper = document.createElement('div')
                wrapper.innerHTML = [
                    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                    `   <div>${message}</div>`,
                    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                    '</div>'
                ].join('')

                alertPlaceholder.append(wrapper)
                }

                const alertTrigger = document.getElementById('liveAlertBtn')
                if (alertTrigger) {
                alertTrigger.addEventListener('click', () => {
                    appendAlert('Nice, you triggered this alert message!', 'success')
                })
                }

                console.log("No members were selected for deletion.");
            
            } else if (window.deleteSelectedCount === 1) {
                console.log("Member were selected for deletion.");
                console.log(window.deleteSelectedCount + " in Total");

                $("#modalTitle").text("Removal");
                $("#selectedCountText").text(window.deleteSelectedCount + " member selected");
                $("#deleteSelectedCountText").text(window.deleteSelectedCount + " member selected for deletion.");
                $("#selectedCountModal").modal("show");

            } else {
                console.log("Members were selected for deletion.");
                console.log(window.deleteSelectedCount + " in Total");

                $("#modalTitle").text("Updates");
                $("#selectedCountText").text(window.deleteSelectedCount + " members selected");
                $("#deleteSelectedCountText").text(window.deleteSelectedCount + " members selected for deletion.");
                $("#selectedCountModal").modal("show");
            }

                window.deleteSelectedCount = 0;
                updateDeleteSelectedCount();
            }
    });
    
    

    // Hide the #noMembersSelected alert initially when the page loads
    $("#noMembersSelected").hide();
});
</script>
{% endblock %}