{% extends 'base_internal.html' %}

{% block content %}

<!-- Toast for no input detected for update -->
<div aria-live="polite" aria-atomic="true" class="bg-body-secondary position-relative bd-example-toasts rounded-3">
  <div class="toast-container top-0 end-0" id="toastPlacement">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Editing Detected</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        No new information was added.
      </div>
    </div>
  </div>
</div>



<!-- Alert for successful deletion -->
<div class="alert alert-success alert-dismissible fade show" id="deleteSuccessAlert" role="alert" style="display: none;">
    Member has been successfully deleted!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- Alert for successful saving -->
<div class="alert alert-success alert-dismissible fade show" id="saveSuccessAlert" role="alert" style="display: none;">
    Changes have been saved successfully!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container mt-5">
    <h1>Member Details</h1>

    <div class="col">
        <button class="btn btn-dark" id="backBtn" onclick="goBack()"><i class='bx bx-arrow-back'></i></button>
        <button 
            data-member-id="{{ member.id }}"
            data-member-name="{{ member.name }}"
            data-member-email="{{ member.email }}"
        type="button" class="btn btn-warning editBtn" id="editBtn" onclick="toggleEdit()"><i class='bx bx-edit-alt'></i></button>
        <button 
            data-member-id="{{ member.id }}"
            data-member-name="{{ member.name }}"
            data-member-email="{{ member.email }}"
        type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class='bx bx-trash' ></i></button>  
    </div>

    <div class="container col-12 pt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h4 class="list-group-item">{{ member.name }} {{ member.surname }}</h4>
                <img src="{{ member.profile_image}}" class="img-fluid img-thumbnail col-9">
                
                
                <ul class="list-inline py-2">
                    <li class="list-inline-item"><i class='bx bx-cake pe-1'></i> {{ member.date_of_birth }}</li>
                    <li class="list-inline-item"><i class='bx bx-detail pe-1'></i> {{ member.employement }}</li>
                    <li class="list-inline-item"><i class='bx bx-briefcase pe-1' ></i> {{ member.work_preference }}</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>User Name:</td>
                            <td>
                                <span class="field-display" data-field="username">{{ member.username }}</span>
                                <input type="text" class="form-control field-input" readonly value="{{ member.username }}" data-field="username" style="display: none;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Edit Member</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you happy with the changes made?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <form id="updateForm" action="{% url 'timetracker:member-update' member.id %}" method="put">
                    {% csrf_token %}
                    <button type="button" class="btn btn-primary" onclick="saveChanges()" id="updateYesButton">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this project?</p>
                <p>ID: {{ project.id }}</p>
                <p>Name: {{ project.name }}</p>
                <p>Email: {{ project.email }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form id="deleteForm" action="{% url 'timetracker:member-delete' member.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" id="deleteYesButton">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block scripts %}
<script>

    function goBack() {
        //window.history.back();
        window.location.href = '/api/members/';
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    let initialFieldValues = {};
    let isEditing = false;

    function toggleEdit() {
        const editBtn = document.getElementById('editBtn');
        const fieldDisplays = document.querySelectorAll('.field-display');
        const fieldInputs = document.querySelectorAll('.field-input');

        if (isEditing) {
            let changesMade = false;

            fieldInputs.forEach((input, index) => {
                const fieldDisplay = input.parentNode.querySelector('.field-display');
                const newValue = input.value;
                const initialValue = initialFieldValues[index];

                if (newValue !== initialValue) {
                    changesMade = true;
                    console.log(`Change: '${initialValue}' to '${newValue}'`);
                }

                fieldDisplay.textContent = newValue;
                input.style.display = 'none';
                input.setAttribute('readonly', 'readonly');
                fieldDisplay.style.display = 'block';
            });

            if (!changesMade) {
                console.log("No data was inputted.");

                // Show the toast
                const updateToast = new bootstrap.Toast(document.querySelector('.toast'));
                updateToast.show();

                editBtn.classList.remove('btn-warning');
                editBtn.classList.add('btn-warning');
                editBtn.innerHTML = '<i class="bx bx-edit-alt"></i>';
                isEditing = false;

                setTimeout(() => {
                    updateToast.hide(); // Hide the toast after 1.2 seconds
                }, 1200);
            } else {
                editBtn.classList.remove('btn-primary');
                editBtn.classList.add('btn-warning');
                editBtn.innerHTML = '<i class="bx bx-edit-alt"></i>';
                isEditing = false;

                // Open the update modal
                const updateModal = new bootstrap.Modal(document.getElementById('updateModal'));
                updateModal.show();
            }
        } else {
            // Enable editing
            console.log("Edit mode has been enabled.");

            editBtn.classList.remove('btn-warning');
            editBtn.classList.add('btn-success');
            editBtn.innerHTML = '<i class="bx bx-save"></i>';

            fieldDisplays.forEach((display, index) => {
                initialFieldValues[index] = display.textContent;
                display.style.display = 'none';
            });

            fieldInputs.forEach((input) => {
                input.removeAttribute('readonly');
                input.style.display = 'block';
                input.focus();
            });

            isEditing = true;
        }
    }    


    // Log when the user chooses to confirm changes
    $('#updateModal .modal-footer .btn-primary').on('click', function () {
        console.log("User confirmed changes.");
        
        $('#updateModal').modal('hide');
        console.log("User went back to app.");
        
        setTimeout(function () {
            saveChanges();
        }, 0);
    });


    document.addEventListener("DOMContentLoaded", function () {
        // Update Modal
        const updateYesButton = document.getElementById("updateYesButton");
        if (updateYesButton) {
            updateYesButton.addEventListener("click", function () {
                document.getElementById("updateForm").submit();
                console.log("user confirmed update of memeber");
            });
        }

        // Delete Modal
        const deleteYesButton = document.getElementById("deleteYesButton");
        if (deleteYesButton) {
            deleteYesButton.addEventListener("click", function () {
                document.getElementById("deleteForm").submit();
                console.log("user confirmed deletion of memeber");
            });
        }
    });


    function saveChanges() {
        const fieldInputs = document.querySelectorAll('.field-input');
        const memberId = document.getElementById("editBtn").getAttribute("data-member-id");
        let changesMade = false;
        let formData = new FormData(); // Create a FormData object to send data
    
        fieldInputs.forEach((input, index) => {
            const newValue = input.value;
            const initialValue = initialFieldValues[index];
    
            if (newValue !== initialValue) {
                changesMade = true;
                console.log(`Change: '${initialValue}' to '${newValue}'`);
                formData.append(input.getAttribute('data-field'), newValue); // Append changed data to FormData
            }
        });
    
        if (changesMade) {
            $.ajax({
                url: `/api/members/${memberId}/`,
                method: 'PUT', 
                data: formData,
                processData: false,
                contentType: false, 
                headers: {
                    'X-CSRFToken': getCookie('csrftoken') 
                },
                success: function(response) {
                    console.log('Update successful:', response);
                    // Update the displayed data and initialFieldValues
                    fieldInputs.forEach((input, index) => {
                        initialFieldValues[index] = input.value;
                        const fieldDisplay = input.parentNode.querySelector('.field-display');
                        const newValue = input.value;
    
                        fieldDisplay.textContent = newValue;
                        input.style.display = 'none';
                        input.setAttribute('readonly', 'readonly');
                        fieldDisplay.style.display = 'block';
                    });
    
                    // Hide the update modal and show the success alert
                    const updateModal = new bootstrap.Modal(document.getElementById('updateModal'));
                    updateModal.hide();
    
                    const successAlert = document.getElementById('saveSuccessAlert');
                    successAlert.style.display = 'block';
    
                    isEditing = false;
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error updating data:', errorThrown);
                    // Handle error scenarios
                }
            });
        } else {
            console.log("No changes were made or inputted.");
    
            // Show an alert if no changes were made
            const noChangesAlert = document.getElementById('noChangesAlert');
            noChangesAlert.style.display = 'block';
        }
    }
    

    // Log when the modal opens
    $('#updateModal').on('show.bs.modal', function () {
        console.log("Update modal has been opened.");
    });

    // Log when the modal closes
    $('#updateModal').on('hide.bs.modal', function () {
        console.log("Update modal has been closed.");
        console.log("Changes were discarded.");

        if (isEditing) {
            const updateModal = new bootstrap.Modal(document.getElementById('updateModal'));
            updateModal.hide();
            toggleEdit();
        }
    });

    // Log when the user chooses to save changes
    $('#saveChangesBtn').on('click', function () {
        console.log("User chose to save changes.");
        console.log("User choasdasdasdasse to save changes.");
    });

    // Log when the user chooses to keep on editing
    $('#keepEditingBtn').on('click', function () {
        console.log("User chose to keep on editing.");
    });

    // Log when the user chooses to discard changes
    $('#discardChangesBtn').on('click', function () {
        console.log("User chose to discard changes.");
    });


    // Log when the user chooses to confirm changes
    $('#updateModal .modal-footer .btn-primary').on('click', function () {
        console.log("User confirmed changes.");
        
        $('#updateModal').modal('hide');
        console.log("User went back to app.");
        
        setTimeout(function () {
            saveChanges();
        }, 0);
    });

    // Log when the user chooses to decline changes
    $('#updateModal .modal-footer .btn-secondary').on('click', function () {
        console.log("User declined changes.");
        
        $('#updateModal').modal('hide');
        console.log("User went back to editing changes.");
        
        setTimeout(function () {
            toggleEdit();
        }, 0);
    });




    // Function to show the delete modal when the "Delete" button is clicked
    const form = document.getElementById('deleteForm');

    $('#deleteModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget);
        var memberId = button.data('member-id');
        var memberName = button.data('member-name');
        var memberEmail = button.data('member-email');
        
        var modal = $(this);
        modal.find('.modal-body p#delete-member-id').text(memberId);
        modal.find('.modal-body p#delete-member-name').text(memberName);
        modal.find('.modal-body p#delete-member-email').text(memberEmail);

        const deleteForm = modal.find('#deleteForm');

        form.addEventListener('submit', function(event) {
            event.preventDefault(); 

            $.ajax({
                url: `/api/members/${memberId}/`,
                method: 'DELETE',
                dataType: 'json',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                success: function(data) {
                    window.location.href = '/api/members/';
                    // Handle success response
                    console.log('Member Deleted', data);
                    // Show the success alert
                    //$('#deleteSuccessAlert').fadeIn().delay(2000).fadeOut();
                    // Redirect to the appropriate page after successful deletion
                    //window.location.href = '{% url "timetracker:member-list" %}';
                    window.location.href = '/api/members/';

                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error deleting member:', errorThrown);
                }
            });                      
        });
    });


</script>
{% endblock %}
