{% extends 'base_internal.html' %}

{% block content %}
 <div class="container my-4 mt-5">
    <h1>Project Detail: {{ project.name }}</h1>

    <div class="col">
        <button class="btn btn-dark" id="backBtn" onclick="goBack()"><i class='bx bx-arrow-back'></i></button>
        <button type="button" class="btn btn-warning" id="updateBtn" data-bs-toggle="modal" data-bs-target="#updateModal" data-update-url="{% url 'timetracker:project-update' project.id %}"><i class='bx bx-edit-alt'></i></button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class='bx bx-trash' ></i></button>
    </div>

    <div class="container col-12 pt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Project Information</h5>
                        <p class="card-text"><strong>Description:</strong> {{ project.description }}</p>
                        <p class="card-text"><strong>Status:</strong> {{ project.get_status_display }}</p>
                        <p class="card-text"><strong>Priority:</strong> {{ project.get_priority_display }}</p>
                        <p class="card-text"><strong>Start Date:</strong> {{ project.start_date }}</p>
                        <p class="card-text"><strong>End Date:</strong> {{ project.end_date }}</p>
                    </div>
                </div>
       
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                {% comment %} <h2 class="mt-4">Tasks</h2> {% endcomment %}
                <div class="list-group">
                    {% for task in project.tasks.all %}
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ task.name }}</h5>
                        <small class="text-muted"><strong>Due Date:</strong> {{ task.due_date }}</small>
                      </div>
                      <p class="mb-1"><strong>Status:</strong> {{ task.get_status_display }}</p>
                      <small class="text-muted"><strong>Priority:</strong> {{ task.get_priority_display }}</small>
                    </a>
                    {% endfor %}
                  </div>
            </div>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Edit Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
         
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="document.querySelector('#updateModal form').submit();">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the task "{{ project.name }}"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form method="post" action="{% url 'timetracker:project-delete' project.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                </form>
            </div>
        </div>
    </div>
</div> 


<!-- Alert for successful deletion -->
<div class="alert alert-success alert-dismissible fade show" id="deleteSuccessAlert" role="alert" style="display: none;">
    Project has been successfully deleted!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endblock %}

{% block scripts %}
<script>
    // Go back to the previous page
    function goBack() {
        //window.history.back();
        window.location.href = '/api/projects/';
    }


    // When the page is ready
    $(document).ready(function () {
        // Function to show the update modal when the "Update" button is clicked
        $('#updateBtn').on('click', function () {
            var updateUrl = $(this).data('update-url');
            var modal = $('#updateModal');
            // AJAX call to get the form content from the server
            $.ajax({
                url: updateUrl,
                method: 'GET',
                dataType: 'html',
                success: function (data) {
                    modal.find('.modal-body').html(data);
                    modal.modal('show'); // Show the modal after fetching the form content
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error loading form:', errorThrown);
                }
            });
        });

        // Function to handle form submission in the update modal
        $('#updateModal form').on('submit', function (event) {
            event.preventDefault(); // Prevent default form submission
            var form = $(this);
            // AJAX call to submit the form data to the server
            $.ajax({
                url: form.attr('action'), // Assuming the action attribute contains the URL to submit the form
                method: 'POST',
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    // Handle success response
                    console.log(data);
                    // Update the project detail content on the page (if needed)
                    // For example, you can update the name and email fields after successful update
                    var nameField = $('#project-name');
                    var emailField = $('#project-email');
                    nameField.text(data.name);
                    emailField.text(data.email);
                    $('#updateModal').modal('hide'); // Hide the modal after successful update
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error updating project:', errorThrown);
                }
            });
        });

    });
</script>
{% endblock %}

