{% extends 'base_internal.html' %}

{% block content %}
 <div class="container my-4 mt-5">
    <h1>Subtask Details</h1>

    <div class="col">
        <button class="btn btn-dark" id="backBtn" onclick="goBack()"><i class='bx bx-arrow-back'></i></button>
        <button type="button" class="btn btn-warning" id="updateBtn" data-bs-toggle="modal" data-bs-target="#updateModal" data-update-url="{% url 'timetracker:subtask-update' subtask.id %}"><i class='bx bx-edit-alt'></i></button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class='bx bx-trash' ></i></button>
    </div>

    <div class="container col-12 pt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h4 class="list-group-item">{{ subtask.name }} {{ subtask.surname }}</h4>
                <img src="{{ subtask.profile_image}}" class="img-fluid img-thumbnail col-9">
                
                
                <ul class="list-inline py-2">
                    <li class="list-inline-item"><i class='bx bx-cake pe-1'></i> {{ subtask.date_of_birth }}</li>
                    <li class="list-inline-item"><i class='bx bx-detail pe-1'></i> {{ subtask.employement }}</li>
                    <li class="list-inline-item"><i class='bx bx-briefcase pe-1' ></i> {{ subtask.work_preference }}</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>User Name:</td>
                            <td>{{ subtask.username }}</td>
                        </tr>
                        <tr>
                            <td>Employee ID:</td>
                            <td>{{ subtask.employee_id }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ subtask.email }}</td>
                        </tr>
                        <tr>
                            <td>Department:</td>
                            <td>{{ subtask.department }}</td>
                        </tr>
                        <tr>
                            <td>Branch:</td>
                            <td>{{ subtask.branch }}</td>
                        </tr>
                        <tr>
                            <td>Manager / Supervisor:</td>
                            <td>{{ subtask.manager }}</td>
                        </tr>
                        <tr>
                            <td>Employment Status:</td>
                            <td><span class="badge text-bg-success">{{ subtask.employment_status }}</span></td>
                        </tr>
                        <tr>
                            <td>Work Hours:</td>
                            <td>{{ subtask.work_hours }}</td>
                        </tr>
                        <tr>
                            <td>Time Zone:</td>
                            <td>{{ subtask.time_zone }}</td>
                        </tr>
                        <tr>
                            <td>Hire Date:</td>
                            <td>{{ subtask.hire_date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Edit Subtask</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
         
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="document.querySelector('#updateModal form').submit();">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the task "{{ subtask.name }}"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form method="post" action="{% url 'timetracker:subtask-delete' subtask.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                </form>
            </div>
        </div>
    </div>
</div> 


<!-- Alert for successful deletion -->
<div class="alert alert-success alert-dismissible fade show" id="deleteSuccessAlert" role="alert" style="display: none;">
    Subtask has been successfully deleted!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endblock %}

{% block scripts %}
<script>
    // Go back to the previous page
    function goBack() {
        //window.history.back();
        window.location.href = '/api/subtask/';
    }


    // When the page is ready
    $(document).ready(function () {
        // Function to show the update modal when the "Update" button is clicked
        $('#updateBtn').on('click', function () {
            var updateUrl = $(this).data('update-url');
            var modal = $('#updateModal');
            // AJAX call to get the form content from the server
            $.ajax({
                url: updateUrl,
                method: 'GET',
                dataType: 'html',
                success: function (data) {
                    modal.find('.modal-body').html(data);
                    modal.modal('show'); // Show the modal after fetching the form content
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error loading form:', errorThrown);
                }
            });
        });

        // Function to handle form submission in the update modal
        $('#updateModal form').on('submit', function (event) {
            event.preventDefault(); // Prevent default form submission
            var form = $(this);
            // AJAX call to submit the form data to the server
            $.ajax({
                url: form.attr('action'), // Assuming the action attribute contains the URL to submit the form
                method: 'POST',
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    // Handle success response
                    console.log(data);
                    // Update the subtask detail content on the page (if needed)
                    // For example, you can update the name and email fields after successful update
                    var nameField = $('#subtask-name');
                    var emailField = $('#subtask-email');
                    nameField.text(data.name);
                    emailField.text(data.email);
                    $('#updateModal').modal('hide'); // Hide the modal after successful update
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error updating subtask:', errorThrown);
                }
            });
        });

        
    });
</script>
{% endblock %}

