{% extends 'base_internal.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Subtasks List</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Task</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for subtask in subtasks %}
            <tr>
                <td>{{ subtask.name }}</td>
                <td>{{ subtask.task.name }}</td>
                <td>
                    <a href="{% url 'timetracker:subtask-update' subtask.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'timetracker:subtask-delete' subtask.pk %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'timetracker:subtask-create' %}" class="btn btn-success">Add New Subtask</a>
</div>
{% endblock %}
